/* ==UserStyle==
@name        better scientificamerican.com
@match       *://www.scientificamerican.com/*
==/UserStyle== */


.banner-leaderboard-top,
[data-behavior="sticky house_ad"],
nav.header,
div.share-box {
    display: none;
}

header.sticky-header {
    opacity: 0;
    transition-duration: 0.2s;
}

header.sticky-header:hover {
    opacity: 100%;
}

@media only screen and (min-width: 900px) {
    .article-grid__main {
        width: 800px;
        padding: 0;
    }
    .article-grid-outer.podcast-grid-outer.container {
        margin: auto;
    }
}

@media only screen and (max-width: 900px) {
    .article-grid__main {
        padding: 0;
        width: 800px;
    }
    .article-grid-outer.podcast-grid-outer.container {
        margin: 1.5rem;
    }
}


.podcast-download {
    display: inline !important;
}
