/* ==UserStyle==
@name        ChatGPT Classic Dark Theme Color
@match       *://chat.openai.com/*
@description Change the dark-theme color of ChatGPT-WebUI back to the classic, low constrast version. Specify different color of "You" and "ChatGPT" if you want.
@author      Pengyu Cui
@date        2024 Feb 9
==/UserStyle== */

.dark {
    --main-surface-primary: rgb(52, 53, 64) !important;
    --sidebar-surface-primary: rgb(0, 0, 0) !important;
    --sidebar-surface-secondary: rgb(52, 53, 64) !important;
}

/* 
 * More nuanced control if needed:
 * 1. background color of "You";
 * 2. background color of "ChatGPT".
 */
main > [role=presentation] div[data-testid]:nth-child(2n+2) {background-color: rgb(62, 63, 74) !important;}
main > [role=presentation] div[data-testid]:nth-child(2n+3) {background-color: rgb(52, 53, 64) !important;}
